<div class="container-fluid full-page-container">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-lg-4 col-sm-8 animated fadeIn">
      <!-- Material form login -->
      <mdb-card class="z-depth-2">

        <div class="white text-center py-4">
          <h5>
            <strong>Đăng nhập</strong>
          </h5>
        </div>


        <!--Card content-->
        <mdb-card-body class="px-lg-5 pt-0">
          <!-- Form -->
          <form [formGroup]="loginForm" class="text-center" style="color: #757575;" (ngSubmit)="onSubmit()">

            <!-- Email -->
            <div class="md-form">
              <input mdbValidate  type="email" id="email" class="form-control" formControlName="email" mdbInput >
              <label for="email">E-mail</label>
              <mdb-error *ngIf=" email.invalid &&  email.touched ">Chưa nhập địa chỉ email</mdb-error>
            </div>

            <!-- Password -->
            <div class="md-form">
              <input mdbValidate [validateSuccess]="false" type="password" id="password" class="form-control" formControlName="password" mdbInput>
              <label for="password">Mật khẩu</label>
              <mdb-error *ngIf="password && password.invalid && password.errors && password.errors.required && (password.dirty || password.touched)">Chưa nhập mật khẩu</mdb-error>
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="error === 20001">
              Sai mật khẩu
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="error === 20002">
              Tài khoản chưa được đăng ký
            </div>
            <!-- Sign in button -->
            <button mdbBtn color="primary" block="true" class="my-4 waves-effect z-depth-0"
                    mdbWavesEffect type="submit" *ngIf="!loader" [disabled]="loginForm.status !== 'VALID'">Đăng nhập</button>
            <div class="spinner-grow text-primary" *ngIf="loader" role="status">
              <span class="sr-only">Loading...</span>
            </div>

            <!-- Register -->
            <p><a routerLink="/email-confirm">Quên mật khẩu ?</a></p>
            <p>Chưa có tài khoản?
              <a routerLink="/register">Đăng ký</a>
            </p>
            <hr>
            <div >
              <!--Facebook-->
              <a class="fb-ic ml-0 px-2" target="_blank" href="https://www.facebook.com/duclinh090999"><i class="fab fa-facebook-f "> </i></a>
              <!--Twitter-->
              <!--Instagram-->
              <a class="ins-ic px-2 ml-3" target="_blank" href="https://www.instagram.com/_linhld/"><i class="fab fa-google "> </i></a>
            </div>

          </form>
          <!-- Form -->

        </mdb-card-body>

      </mdb-card>
      <!-- Material form login -->
    </div>
  </div>
</div>
