<div class="row mt-5 container-fluid" [ngClass]="loader ? 'full-page-container' : ''">
  <div class="col-md-12">
    <!--Card-->
    <mdb-card cascade="true" narrower="true">
      <mdb-card-body>
        <h3 class="mt-5 text-left"><strong>Product complete</strong></h3>

        <table class="table">
          <thead>
          <tr>
            <th>ID</th>
            <th class="dpl3">Ngày</th>
            <th class="dpl">Tài khoản</th>
            <th class="dpl1">Địa chỉ</th>
            <th class="dpl2">Số điện thoại</th>
            <th>Tổng tiền</th>
            <th></th>
          </tr>
          </thead>
          <tbody>

          <tr mdbTableCol *ngFor="let order of orders, index as i">
            <th scope="row">{{order.id}}</th>
            <td class="dpl3">{{order.date}}</td>
            <td class="dpl">{{order.custommer.email}}</td>
            <td class="dpl1">{{order.custommer.address}}</td>
            <td class="dpl2">{{order.custommer.phoneNumber}}</td>
            <td>{{order.total}}.000đ</td>
            <td><button  color="primary" mdbBtn mdbwaveseffect size="sm" class="btn-sm btn" routerLink="/admin/order-detail/order-complete/{{order.id}}">Detail</button></td>
          </tr>
          </tbody>
        </table>
        <div class="row h-100 justify-content-center align-items-center" *ngIf="loader">
          <div  class="spinner-border text-primary " role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <nav aria-label="Page navigation example" >
          <ul class="pagination pg-blue">
            <li class="page-item" [ngClass]="pageNumber == 0 ? 'disabled'  : ''" >
              <a class="page-link" tabindex="-1" (click)="getOrderPage(pageNumber-1)"  mdbWavesEffect>Sau</a>
            </li>
            <li class="page-item" (click)="selectPage(i)" [ngClass]="pageNumber == i ? 'active': ''" *ngFor="let i of listPage"><a class="page-link" mdbWavesEffect>{{i}}</a></li>
            <li class="page-item" [ngClass]="pageNumber == listPage.length-1 ? 'disabled'  : ''">
              <a  class="page-link" (click)="getOrderPage(pageNumber+1)" mdbWavesEffect>Tiếp</a>
            </li>
          </ul>
        </nav>
      </mdb-card-body>
      <!--/.Card content-->
    </mdb-card>

    <!--/.Card-->
  </div>
</div>
