.mrt{
  margin-top: 100px;
}
@media screen and (max-width:1271px) {
  .dpl{
    display: none;
  }
}

@media screen and (max-width:1091px) {
  .dpl1{
    display: none;
  }
}
@media screen and (max-width:888px) {
  .dpl2{
    display: none;
  }
}
@media screen and (max-width:683px) {
  .dpl3{
    display: none;
  }
}
.full-page-container {
  height: calc(100vh - 114px);
}
