.modal-dialog {
  max-width: 800px;
}
@import "~@ng-select/ng-select/themes/default.theme.css";
.mrt{
  margin-top: 100px;
}
@media screen and (max-width:1173px) {
  .dpl{
    display: none;
  }
}

@media screen and (max-width:1101px) {
  .dpl1{
    display: none;
  }
}
@media screen and (max-width:1021px) {
  .dpl2{
    display: none;
  }
}
@media screen and (max-width:879px) {
  .dpl3{
    display: none;
  }
}
@media screen and (max-width:748px) {
  .dpl4{
    display: none;
  }
}
@media screen and (max-width:565px) {
  .dpl5{
    display: none;
  }
}
.full-page-container {
  height: calc(100vh - 114px);
}
