<div class="row mt-5 container-fluid" [ngClass]="loader ? 'full-page-container' : '' ">
  <div class="col-md-12">
    <!--Card-->
    <mdb-card cascade="true" narrower="true">
      <mdb-card-body>
        <h3 class="mt-5 text-left"><strong>Product list</strong></h3>

        <table class="table">
          <thead>
          <tr>
            <th>STT </th>
            <th class="dpl4">Name </th>
            <th>Image</th>
            <th class="dpl">Brand </th>
            <th class="dpl2">Size </th>
            <th class="dpl3">Color </th>
            <th class="dpl1">Status</th>
            <th class="dpl5">Price </th>
            <th><button (click)="addProduct.show(); clearFrom()" mdbBtn type="button" color="primary" class=" btn-sm btn" mdbWavesEffect>Add product</button></th>
          </tr>
          </thead>
          <tbody *ngIf="!loader">

          <tr mdbTableCol *ngFor="let product of products; index as i">
            <th scope="row">{{i+1}}</th>
            <td class="dpl4">{{product.name}}</td>
            <td>
              <img class="img-thumbnail" style="width: 100px" src="{{product.image[0]}}">
            </td>

            <td class="dpl">{{product.brand}}</td>
            <td class="dpl2">{{product.size}}</td>
            <td class="dpl3">{{product.color}}</td>
            <td class="dpl1">{{product.status}}</td>
            <td class="dpl5">{{product.price}}.000 Đ</td>
            <td>
              <button color="warning" mdbBtn mdbwaveseffect="" size="sm" class="btn-warning btn-sm btn" (click)="selectProduct(product); fixProduct.show()">Edit</button>
              <button  color="danger" mdbBtn mdbwaveseffect="" size="sm" class="btn-danger btn-sm btn" (click)="onDelete(product.id, i)">Remove</button>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="row h-100 justify-content-center align-items-center" *ngIf="loader">
          <div  class="spinner-border text-primary " role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </mdb-card-body>
      <!--/.Card content-->
    </mdb-card>
    <nav aria-label="Page navigation example" *ngIf="!loader" class="mt-5">
      <ul class="pagination pg-blue">
        <li class="page-item" [ngClass]="pageNumber == 0 ? 'disabled'  : ''" >
          <a class="page-link" tabindex="-1" (click)="getProductByPage(pageNumber-1)"  mdbWavesEffect>Sau</a>
        </li>
        <li class="page-item" (click)="getProductByPage(i)" [ngClass]="pageNumber == i ? 'active': ''"  *ngFor="let i of listPage"><a class="page-link" mdbWavesEffect>{{i}}</a></li>
        <li class="page-item" [ngClass]="pageNumber == totalPage-1 ? 'disabled'  : ''">
          <a (click)="getProductByPage(pageNumber+1)" class="page-link" mdbWavesEffect>Tiếp</a>
        </li>
      </ul>
    </nav>
    <div mdbModal #addProduct="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close pull-right" aria-label="Close" (click)="addProduct.hide()">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title w-100" id="addprd">Add product</h4>
          </div>
          <form class="modal-body" [formGroup]="formProduct">
            <div class="card-body card-body-cascade text-center">
              <div class="row flex-center">
                <img *ngIf="imgURL" class="img-thumbnail" style="width: 100px" [src]="imgURL">
                <input #file type="file" #file style="display:none;" accept='image/*' (change)="onSelectFile(file.files)" />
                <button (click)="file.click()"  class="btn btn-info btn-rounded btn-sm waves-effect waves-light" mdbBtn>Upload New Photo</button><br>
                <button class="btn btn-danger btn-rounded btn-sm waves-effect waves-light" mdbBtn>Delete</button>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="md-form">
                  <input mdbValidate  type="text" id="brand" class="form-control"  mdbInput formControlName="brandProduct">
                  <label for="brand">Brand product</label>
                </div>
                <label>Color</label>
                <ng-select [items]="colors" multiple="true" formControlName="colorProduct">
                </ng-select>
              </div>
              <div class="col">
                <div class="md-form">
                  <input mdbValidate  type="number" id="price" class="form-control"  mdbInput formControlName="priceProduct">
                  <label for="price">Price product</label>
                </div>
                <label>Size</label>
                <ng-select [items]="sizes" multiple="true" formControlName="sizeProduct" >
                </ng-select>
              </div>

            </div>
            <div class="md-form">
              <input mdbValidate  type="text" id="name" class="form-control"  mdbInput formControlName="nameProduct">
              <label for="name">Name product</label>
            </div>
            <label>Status product</label>
            <ng-select [items]="status" formControlName="statusProduct"></ng-select>
            <div class="md-form">
              <textarea type="text" id="dss" class="md-textarea form-control" mdbInput formControlName="descriptionProduct"></textarea>
              <label for="dss">Description</label>
            </div>
          </form>
          <div class="modal-footer">
            <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="addProduct.hide()" mdbWavesEffect>Close</button>
            <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect (click)="onAddProduct(); addProduct.hide()">Add product</button>
          </div>
        </div>
      </div>
    </div>
    <div mdbModal #fixProduct="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close pull-right" aria-label="Close" (click)="fixProduct.hide()">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title w-100" id="addprd">Add product</h4>
          </div>
          <form class="modal-body" [formGroup]="formProduct">
            <div class="card-body card-body-cascade text-center">
              <div class="row flex-center">
                <img *ngIf="imgURL" class="img-thumbnail" style="width: 100px" [src]="imgURL">
                <input #file type="file" #file style="display:none;" accept='image/*' (change)="onSelectFile(file.files)" />
                <button (click)="file.click()"  class="btn btn-info btn-rounded btn-sm waves-effect waves-light" mdbBtn>Upload New Photo</button><br>
                <button class="btn btn-danger btn-rounded btn-sm waves-effect waves-light" mdbBtn (click)="deleteImage()">Delete</button>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="md-form">
                  <input mdbValidate  type="text" id="brand" class="form-control"  mdbInput formControlName="brandProduct">
                  <label for="brand">Brand product</label>
                </div>
                <label>Color</label>
                <ng-select [items]="colors" multiple="true" formControlName="colorProduct">
                </ng-select>
              </div>
              <div class="col">
                <div class="md-form">
                  <input mdbValidate  type="number" id="price" class="form-control"  mdbInput formControlName="priceProduct">
                  <label for="price">Price product</label>
                </div>
                <label>Size</label>
                <ng-select [items]="sizes" multiple="true" formControlName="sizeProduct" >
                </ng-select>
              </div>

            </div>
            <div class="md-form">
              <input mdbValidate  type="text" id="name" class="form-control"  mdbInput formControlName="nameProduct">
              <label for="name">Name product</label>
            </div>
            <label>Status product</label>
            <ng-select [items]="status" formControlName="statusProduct"></ng-select>
            <div class="md-form">
              <textarea type="text" id="dss" class="md-textarea form-control" mdbInput formControlName="descriptionProduct"></textarea>
              <label for="dss">Description</label>
            </div>
          </form>
          <div class="modal-footer">
            <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="fixProduct.hide(); clearFrom()" mdbWavesEffect>Close</button>
            <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect (click)="onUpdate(); fixProduct.hide()">Update product</button>
          </div>
        </div>
      </div>
    </div>
    <!--/.Card-->
  </div>
</div>
