<section class="container pt-3" style="margin-top: 80px; margin-bottom: 110px" [ngClass]=" loading ? 'full-page-container' : ''">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb ">
      <li class="breadcrumb-item" [ngClass]="new?'active': '' " (click)="getOrderNew(pageNumber = 0)"><a>Đơn hàng mới</a></li>
      <li class="breadcrumb-item " [ngClass]="complete?'active': '' "  (click)="getOrderComplete(pageNumber = 0)"><a>Đơn hàng hoàn thành</a></li>
      <li class="breadcrumb-item " [ngClass]="cancel?'active': '' " (click)="getOrderCancel(pageNumber = 0)"><a>Đơn hàng đã hủy</a></li>
    </ol>
  </nav>
  <div class="text-center mt-5">
    <div class="spinner-border text-primary " *ngIf="loading" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <app-order-user-status *ngIf="!loading && !order" [orderUser]="orderUser" [listPage]="listPage" [pageNumber]="pageNumber"  (selectedOrder) = "getOrder($event)" (select)="getPage($event)"></app-order-user-status>
  <app-order-user-detail *ngIf="!loading && order" [orderUser] = "order" [status] = "status" (cancel) = "onInIt($event)"></app-order-user-detail>
</section>
