.card.card-cascade.narrower .view.view-cascade {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: -1.25rem;
}
.card.card-cascade .view.view-cascade.gradient-card-header {
  padding: 1.6rem 1rem;
  text-align: center;
}
