<div class="container" style="margin-top: 100px">

  <!-- Section: Edit Account -->
  <section class="section">
    <!-- First row -->
    <div class="row">
      <!-- First column -->
      <div class="col-lg-4 mb-4">

        <!-- Card -->
        <div class="card card-cascade narrower">

          <!-- Card image -->
          <div class="view view-cascade gradient-card-header mdb-color lighten-3">
            <h5 class="mb-0 font-weight-bold" >Chỉnh sửa hình đại diện</h5>
          </div>
          <!-- Card image -->

          <!-- Card content -->
          <div class="card-body card-body-cascade text-center">
            <img *ngIf="!imgURL && user.image" src="{{user.image}}"  alt="User Photo" class="z-depth-1 mb-3 mx-auto" style="width: 100px">
            <img *ngIf="imgURL" class="img-thumbnail" style="width: 100px" [src]="imgURL">
            <img *ngIf="!user.image && !imgURL" src="https://mdbootstrap.com/img/Photos/Avatars/img(31).jpg" class="img-fluid z-depth-1" style="width: 100px" alt="Responsive image" mdbDropdownToggle>
            <input #file type="file" #file style="display:none;" accept='image/*' (change)="onSelectFile(file.files)" />
            <p class="text-muted"><small>Ảnh đại diện</small></p>
            <div class="row flex-center">
              <button class="btn btn-info btn-rounded btn-sm waves-effect waves-light" mdbBtn (click)="file.click()" *ngIf="!imgURL">Thay đổi ảnh</button><br>
              <button class="btn btn-danger btn-rounded btn-sm waves-effect waves-light" mdbBtn *ngIf="imgURL" (click)="cancel()">Hủy</button>

            </div>
          </div>
          <!-- Card content -->

        </div>
        <!-- Card -->

      </div>
      <!-- First column -->

      <!-- Second column -->
      <div class="col-lg-8 mb-4">

        <!-- Card -->
        <div class="card card-cascade narrower">

          <!-- Card image -->
          <div class="view view-cascade gradient-card-header mdb-color lighten-3">
            <h5 class="mb-0 font-weight-bold" >Chỉnh sửa tài khoản</h5>
          </div>
          <!-- Card image -->

          <!-- Card content -->
          <div class="card-body card-body-cascade text-center">

            <!-- Edit Form -->
            <form [formGroup]="editAccount" (ngSubmit)="updateProfile()">

              <div class="row">
                <!-- First column -->
                <div class="col-md-6">
                  <div class="md-form mb-0">
                    <input type="text" id="form81" class="form-control validate" mdbInput formControlName="firstName">
                    <label for="form81" data-error="wrong" data-success="right">Tên</label>
                  </div>
                </div>

                <!-- Second column -->
                <div class="col-md-6">
                  <div class="md-form mb-0">
                    <input type="text" id="form82" class="form-control validate" mdbInput formControlName="lastName">
                    <label for="form82" data-error="wrong" data-success="right">Họ và tên đệm</label>
                  </div>
                </div>
              </div>
              <!-- First row -->

              <!-- Second row -->
              <div class="row">

                <!-- First column -->
                <div class="col-md-6">
                  <div class="md-form mb-0">
                    <input type="email" id="form76" class="form-control validate" mdbInput formControlName="phoneNumber">
                    <label for="form76">Số điện thoại</label>
                  </div>
                </div>
                <!-- Second column -->

                <div class="col-md-6">
                  <div class="md-form mb-0">
                    <div class="md-form mb-0">
                      <input type="text" id="form77" class="form-control validate" mdbInput formControlName="address">
                      <label for="form77" data-error="wrong" data-success="right">Địa chỉ</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 text-center my-4">
                  <div class="spinner-grow text-primary" *ngIf="loaderUser" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                  <span class="waves-input-wrapper waves-effect waves-light"><input type="submit" value="Cập nhật tài khoản" class="btn btn-info btn-rounded" [disabled]="!this.imgURL && !editAccount.touched " *ngIf="!loaderUser"></span>
                </div>
              </div>
              <!-- Fourth row -->
            </form>
            <form [formGroup]="updatePasswordForm">
              <div class="row">

                <!-- First column -->
                <div class="col-md-6">
                  <div class="md-form mb-0">
                    <input type="password" id="newPassword" class="form-control validate" mdbInput formControlName="newPassword">
                    <label for="newPassword">Mật khẩu mới</label>
                    <div *ngIf="updatePasswordForm.get('newPassword').touched && updatePasswordForm.get('newPassword').invalid" class="alert alert-danger" role="alert">
                      Chưa nhập mật khẩu mới
                    </div>
                  </div>
                </div>
                <!-- Second column -->

                <div class="col-md-6">
                  <div class="md-form mb-0">
                    <input type="password" id="rePassword" class="form-control validate" mdbInput formControlName="rePassword" pattern="{{checkPasswords(updatePasswordForm)}}">
                    <label for="rePassword" data-error="wrong" data-success="right">Nhập lại mật khẩu</label>
                    <div *ngIf="updatePasswordForm.get('rePassword').touched && updatePasswordForm.get('rePassword').invalid && updatePasswordForm.get('rePassword').hasError('required') " class="alert alert-danger" role="alert">
                      Chưa nhập lại mật khẩu
                    </div>
                    <div *ngIf="updatePasswordForm.get('rePassword').touched && updatePasswordForm.get('rePassword').invalid && updatePasswordForm.get('rePassword').hasError('pattern') " class="alert alert-danger" role="alert">
                      Nhập sai mật khẩu
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="md-form mb-0">
                    <input type="password" id="oldPassword" class="form-control validate" mdbInput formControlName="oldPassword" >
                    <label for="oldPassword" data-error="wrong" data-success="right">Mật khẩu cũ</label>
                    <div *ngIf="updatePasswordForm.get('oldPassword').touched && updatePasswordForm.get('oldPassword').invalid && updatePasswordForm.get('oldPassword').hasError('required') " class="alert alert-danger" role="alert">
                      Chưa nhập mật khẩu cũ
                    </div>
                    <div *ngIf="error == 200" class="alert alert-primary" role="alert">
                      Đổi mật khẩu thành công
                    </div>
                    <div *ngIf="error == 30001" class="alert alert-danger" role="alert">
                      Không đúng mật khẩu
                    </div>
                    <div *ngIf="error == 30002" class="alert alert-warning" role="alert">
                      Nhập trùng mật khẩu cũ
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 text-center my-4">
                  <span *ngIf="error !== 200 && !loader" class="waves-input-wrapper waves-effect waves-light"><input type="submit" value="Cập nhật mật khẩu" class="btn btn-info btn-rounded" (click)="onChangePassword()" [disabled]="updatePasswordForm.status==='INVALID'"></span>
                  <span *ngIf="error == 200 && !loader" class="waves-input-wrapper waves-effect waves-light"><input type="submit" value="OK" class="btn btn-info btn-rounded" (click)="error=0"></span>
                  <div class="spinner-grow text-primary" *ngIf="loader" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>
              </div>
            </form>
            <!-- Edit Form -->

          </div>
          <!-- Card content -->

        </div>
        <!-- Card -->

      </div>
      <!-- Second column -->

    </div>
    <!-- First row -->

  </section>
  <!-- Section: Edit Account -->

</div>
