<div class="container-fluid full-page-container">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-lg-4 col-sm-8 animated fadeIn">
      <!-- Material form login -->
      <mdb-card class="z-depth-2">
        <div class="white text-center py-4">

          <h5>
            <strong>Đổi mật khẩu</strong>
          </h5>
        </div>


        <!--Card content-->
        <mdb-card-body class="px-lg-5 pt-0">
          <!-- Form -->
          <form  class="text-center" style="color: #757575;" (ngSubmit)="onSubmitNewPassword()" [formGroup]="formChangePassword">

            <!-- Email -->
            <div class="md-form">
              <input mdbValidate  type="password" id="password" class="form-control"  mdbInput formControlName="newPass">
              <label for="password">Mật khẩu mới</label>
              <mdb-error *ngIf=" this.newPassword.invalid &&  this.newPassword.touched ">Chưa nhập mật khẩu</mdb-error>

            </div>
            <div class="md-form">
              <input mdbValidate  type="password" id="re-password" class="form-control"  mdbInput formControlName="oldPass" pattern="{{checkPasswords()}}">
              <label for="re-password">Xác nhận mật khẩu</label>
              <mdb-error *ngIf=" this.oldPassword.invalid &&  this.oldPassword.touched && !this.oldPassword.hasError('pattern')">Chưa nhập mật khẩu</mdb-error>
              <mdb-error *ngIf=" this.oldPassword.invalid &&  this.oldPassword.touched && this.oldPassword.hasError('pattern')">Sai mật khẩu nhập lại</mdb-error>
            </div>
            <!-- Password -->

            <!-- Sign in button -->
            <button mdbBtn color="primary" block="true" class="my-4 waves-effect z-depth-0"
                    mdbWavesEffect type="submit">Xác nhận</button>

            <!-- Register -->


          </form>
          <!-- Form -->

        </mdb-card-body>

      </mdb-card>
      <!-- Material form login -->
    </div>
  </div>
</div>
