<main class="mt-5 pt-4" [ngClass]="loader ? 'full-page-container': ''">
  <div class="container dark-grey-text mt-5">
    <div class="row h-100 justify-content-center align-items-center" *ngIf="loader">
      <div  class="spinner-border text-primary " role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <!--Grid row-->
    <app-product [product]="product"></app-product>
    <!--Grid row-->

    <hr>

    <!--Grid row-->
    <div class="row d-flex justify-content-center wow fadeIn">

      <!--Grid column-->
      <div class="col-md-6 text-center">

        <h4 class="my-4 h4">Sản phẩm nổi bật</h4>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

    <!--Grid row-->

      <div class="row" >

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4" *ngFor="let product of products | slice:7:11">

          <!--Card-->
          <div class="card card-ecommerce">

            <!--Card image-->
            <div class="view overlay" routerLink="/product-detail/{{product.id}}" (click)="onselectProduct(product.id)">
              <img src="{{product.image[0]}}" class="img-fluid img-cst" alt="sample image">
              <a>
                <div class="mask rgba-white-slight waves-effect waves-light"></div>
              </a>
            </div>
            <!--Card image-->

            <!--Card content-->
            <div class="card-body">
              <!--Category & Title-->

              <h5 class="card-title mb-1">
                <strong>
                  <a routerLink="/product-detail/{{product.id}}" class="dark-grey-text" (click)="onselectProduct(product.id)">{{product.name}}</a>
                </strong>
              </h5>
              <span class="badge badge-danger mb-2" *ngIf="product.status === 'sale'">Bestseller</span>
              <span class="badge badge-success mb-2" *ngIf="product.status === 'new'">New</span>
              <span class="badge badge-warning mb-2" *ngIf="product.status === 'sold-out'">Sold out</span>
              <span class="badge badge-primary mb-2" *ngIf="product.status === 'hot'">Hot</span>
              <!-- Rating -->

              <!--Card footer-->
              <div class="card-footer pb-0">
                <div class="row mb-0">
                    <span class="float-left">
                      <strong>{{product.price}}.000đ</strong>
                    </span>
                  <span class="float-right">
                      <a [routerLink]="['/product-detail' ,product.id ]" class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Cart" (click)="onselectProduct(product.id)">
                        <i class="fas fa-shopping-cart ml-3"></i>
                      </a>
                    </span>
                </div>
              </div>

            </div>
            <!--Card content-->

          </div>
          <!--Card-->

        </div>
        <!--Grid column-->


      </div>
      <!--Grid row-->

  </div>
</main>
