@media (min-width: 768px) {
  .media .avatar {
    width: 64px;
  }
}

@media (max-width: 767px) {
  .media .avatar {
    width: 160px;
  }
}
.full-page-container {
  height: calc(100vh - 114px);
}
@media screen and (max-height:885px) {
  .full-page-container {
    margin-top: 100px;
    margin-bottom: 50px;
    height: auto;
  }
}
