<section class="mt-lg-5 container-fluid">

  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-xl-3 col-md-6 mb-r">

      <!--Card-->
      <mdb-card cascade="true" class="cascading-admin-card">

        <!--Card Data-->
        <div class="admin-up">
          <mdb-icon far icon="money-bill-alt" class="primary-color"></mdb-icon>
          <div class="data">
            <p>SALES</p>
            <h4><strong>$2000</strong></h4>
          </div>
        </div>
        <!--/.Card Data-->

        <!--Card content-->
        <mdb-card-body>
          <div class="progress">
            <div class="progress-bar bg-primary" role="progressbar" style="width: 25%" aria-valuenow="25"
                 aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <!--Text-->
          <p class="card-text">Better than last week (25%)</p>
        </mdb-card-body>
        <!--/.Card content-->

      </mdb-card>
      <!--/.Card-->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-xl-3 col-md-6 mb-r">

      <!--Card-->
      <mdb-card cascade="true" class="cascading-admin-card">

        <!--Card Data-->
        <div class="admin-up">
          <mdb-icon fas icon="chart-line" class="warning-color"></mdb-icon>
          <div class="data">
            <p>SUBSCRIPTIONS</p>
            <h4><strong>200</strong></h4>
          </div>
        </div>
        <!--/.Card Data-->

        <!--Card content-->
        <mdb-card-body>
          <div class="progress">
            <div class="progress-bar bg grey darken-2" role="progressbar" style="width: 25%"
                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <!--Text-->
          <p class="card-text">Worse than last week (25%)</p>
        </mdb-card-body>
        <!--/.Card content-->

      </mdb-card>
      <!--/.Card-->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-xl-3 col-md-6 mb-r">

      <!--Card-->
      <mdb-card cascade="true" class="cascading-admin-card">

        <!--Card Data-->
        <div class="admin-up">
          <mdb-icon fas icon="chart-pie" class="light-blue lighten-1"></mdb-icon>
          <div class="data">
            <p>TRAFFIC</p>
            <h4><strong>20000</strong></h4>
          </div>
        </div>
        <!--/.Card Data-->

        <!--Card content-->
        <mdb-card-body>
          <div class="progress">
            <div class="progress-bar grey darken-2" role="progressbar" style="width: 75%" aria-valuenow="75"
                 aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <!--Text-->
          <p class="card-text">Worse than last week (75%)</p>
        </mdb-card-body>
        <!--/.Card content-->

      </mdb-card>
      <!--/.Card-->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-xl-3 col-md-6 mb-r">

      <!--Card-->
      <mdb-card cascade="true" class="cascading-admin-card">

        <!--Card Data-->
        <div class="admin-up">
          <mdb-icon fas icon="chart-bar" class="red accent-2"></mdb-icon>
          <div class="data">
            <p>ORGANIC TRAFFIC</p>
            <h4><strong>2000</strong></h4>
          </div>
        </div>
        <!--/.Card Data-->

        <!--Card content-->
        <mdb-card-body>
          <div class="progress">
            <div class="progress-bar bg-primary" role="progressbar" style="width: 25%" aria-valuenow="25"
                 aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <!--Text-->
          <p class="card-text">Better than last week (25%)</p>
        </mdb-card-body>
        <!--/.Card content-->

      </mdb-card>
      <!--/.Card-->

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
<div class="row wow fadeIn mt-5 container-fluid">

  <!--Grid column-->
  <div class="col-md-9 mb-4">

    <!--Card-->
    <mdb-card>

      <!--Card content-->
      <mdb-card-body>

        <div style="display: block">
          <canvas mdbChart [chartType]="chart1Type" [datasets]="chartDatasets" [labels]="chartLabels"
                  [colors]="chartColors" [options]="chartOptions"
                  [legend]="true">
          </canvas>
        </div>
      </mdb-card-body>

    </mdb-card>
    <!--/.Card-->

  </div>
  <!--Grid column-->

  <!--Grid column-->
  <div class="col-md-3 mb-4">

    <mdb-card class="mb-4">

      <!--Card content-->
      <mdb-card-body>

        <!-- List group links -->
        <div class="list-group list-group-flush">
          <a class="list-group-item list-group-item-action waves-effect">Sales
            <mdb-badge success="true" pill="true" class="pull-right">22%
              <mdb-icon fas icon="arrow-up" class="ml-1"></mdb-icon>
            </mdb-badge>
          </a>
          <a class="list-group-item list-group-item-action waves-effect">Traffic
            <mdb-badge danger="true" pill="true" class="pull-right">5%
              <mdb-icon fas icon="arrow-down" class="ml-1"></mdb-icon>
            </mdb-badge>
          </a>
          <a class="list-group-item list-group-item-action waves-effect">Orders
            <mdb-badge primary="true" pill="true" class="pull-right">14</mdb-badge>
          </a>
          <a class="list-group-item list-group-item-action waves-effect">Issues
            <span class="badge badge-primary badge-pill pull-right">123</span>
          </a>
          <a class="list-group-item list-group-item-action waves-effect">Messages
            <mdb-badge primary="true" pill="true" class="pull-right">8</mdb-badge>
          </a>
        </div>
        <!-- List group links -->

      </mdb-card-body>

    </mdb-card>
    <!--/.Card-->

  </div>
  <!--Grid column-->

</div>
