<div class="container">
  <section id="team" class="section team-section pt-3">

    <h1 class="section-heading text-center mb-5 mt-5 pt-4 font-weight-bold wow fadeIn" style="visibility: visible; animation-name: fadeIn;">LKN team</h1>

    <p class="text-center w-responsive mx-auto wow fadeIn my-5" data-wow-delay="0.2s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet maiores aspernatur aut animi debitis. Ad excepturi dolor tempora at aperiam earum veritatis ullam. Culpa tempora possimus necessitatibus excepturi, quisquam officia.</p>

    <div class="row text-center wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.4s;">

      <!--First column-->
      <div class="col-md-4 mb-5">
        <div class="avatar mx-auto mb-4">
          <img src="../../../../assets/images/team/ldl.jpg" class="z-depth-1 img-fluid">
        </div>
        <h4>LE DUC LINH</h4>
        <h5>Frontend developer</h5>

      </div>
      <!--/First column-->

      <!--Second column-->
      <div class="col-md-4 mb-5">
        <div class="avatar mx-auto mb-4">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9).jpg" class="z-depth-1 img-fluid">
        </div>
        <h4>PHAM MINH KHOA</h4>
        <h5>Full stack developer</h5>

      </div>
      <!--/Second column-->

      <!--Third column-->
      <div class="col-md-4 mb-5">
        <div class="avatar mx-auto mb-4">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(8).jpg" class="z-depth-1 img-fluid">
        </div>
        <h4>NGUYEN VAN NHON</h4>
        <h5>Backend developer</h5>

      </div>
      <!--/Third column-->

    </div>

  </section>
</div>
