<h4 class="text-center mt-3">Product</h4>
<div class="container-fluid full-page-container">
  <table mdbTable>
    <thead>
    <tr>
      <th>STT </th>
      <th>Name </th>
      <th>2 </th>
      <th>1 </th>
      <th>1 </th>
      <th>1 </th>

    </tr>
    </thead>
    <tbody>
    <tr mdbTableCol *ngFor="let el of elements">
      <th scope="row">{{el.id}}</th>
      <td>{{el.first}}</td>
      <td>{{el.last}}</td>
      <td>{{el.handle}}</td>
      <td>d</td>
      <td>
        <button color="warning" mdbBtn mdbwaveseffect="" size="sm" class="btn-warning btn-sm btn" (click)="basicModal.show()">Edit</button>
        <button  color="danger" mdbBtn mdbwaveseffect="" size="sm" class="btn-danger btn-sm btn">Remove</button>
      </td>
    </tr>
    </tbody>
  </table>
  <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100" id="myModalLabel">Modal title</h4>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Close</button>
          <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>

