<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color fixed-top " [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">LKN Shop</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links class="container">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item " routerLinkActive="active">
        <a class="nav-link waves-light" routerLink="/home" mdbWavesEffect>Trang chủ</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/about">Giới thiệu</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/news">Tin tức</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/product-list/all">Sản phẩm</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/contact">Liên hệ</a>
      </li>

    </ul>
    <!-- Links -->

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item mt-2">
        <a class="nav-link" target="_blank" href="https://www.instagram.com/_linhld/">
          <mdb-icon fab icon="instagram"></mdb-icon>
        </a>
      </li>
      <li class="nav-item mt-2">
        <a class="nav-link" href="https://www.facebook.com/duclinh090999" target="_blank">
          <mdb-icon fab icon="facebook"></mdb-icon>
        </a>
      </li>
      <li class="nav-item mt-2">
        <a class="nav-link">
          <div class="btn-group" mdbDropdown>
            <mdb-icon fas icon="globe-europe" mdbDropdownToggle></mdb-icon>
            <div class="dropdown-menu dropdown-menu-right dropdown-primary">
              <a class="dropdown-item" href="#"><mdb-icon fas icon="language"></mdb-icon>VN</a>
              <a class="dropdown-item" href="#"><mdb-icon fas icon="language"></mdb-icon>EN</a>
            </div>
          </div>
        </a>
      </li>
      <li class="nav-item mt-2">
        <a class="nav-link">
          <div class="btn-group" mdbDropdown>
            <mdb-icon fas icon="headset" mdbDropdownToggle></mdb-icon>
            <div class="dropdown-menu dropdown-menu-right dropdown-primary">
              <a class="dropdown-item" href="#"><mdb-icon fas icon="phone"></mdb-icon>0971830053</a>
              <a class="dropdown-item" href="#"><mdb-icon fas icon="map-marker-alt"></mdb-icon>HCM</a>
            </div>
          </div>
        </a>
      </li>
      <li class="nav-item mt-2">
        <a class="nav-link" routerLink="/cart">
          <mdb-icon fas icon="shopping-cart"></mdb-icon><span class="badge red z-depth-1 mr-1" >{{count}}</span>
        </a>
      </li>
      <li class="nav-item mt-2"  *ngIf="!isUser()">
        <a class="nav-link">
          <div class="btn-group" mdbDropdown>
            <img *ngIf="isUser()" src="https://mdbootstrap.com/img/Photos/Avatars/img(31).jpg" class="img-fluid z-depth-1 rounded-circle" style="width: 40px" alt="Responsive image" mdbDropdownToggle>
            <mdb-icon *ngIf="!isUser()" fas icon="user" mdbDropdownToggle></mdb-icon>
            <div class="dropdown-menu dropdown-menu-right dropdown-primary">
              <a class="dropdown-item" *ngIf="!isUser()" routerLink="/login"><mdb-icon fas icon="sign-in-alt"></mdb-icon>Đăng nhập</a>
              <a class="dropdown-item" *ngIf="!isUser()" routerLink="/register"><mdb-icon fas icon="user-plus"></mdb-icon>Đăng ký</a>

            </div>
          </div>
        </a>
      </li>
      <li class="nav-item" *ngIf="isUser() || isAdmin()">
        <a class="nav-link">
          <div class="btn-group" mdbDropdown>
            <img *ngIf="user.image" src="{{user.image}}" class="img-fluid z-depth-1 rounded-circle" style="width: 40px; height: 40px" alt="Responsive image" mdbDropdownToggle>
            <img *ngIf="!user.image" src="https://mdbootstrap.com/img/Photos/Avatars/img(31).jpg" class="img-fluid z-depth-1 rounded-circle" style="width: 40px" alt="Responsive image" mdbDropdownToggle>
            <div class="dropdown-menu dropdown-menu-right dropdown-primary">
              <a class="dropdown-item" *ngIf="isUser()" (click)="logout()"><mdb-icon fas icon="sign-out-alt"></mdb-icon> Đăng xuất</a>
              <a class="dropdown-item" *ngIf="isUser()" routerLink="/account"><mdb-icon fas icon="user-edit"></mdb-icon> Tài khoản</a>
              <a class="dropdown-item" *ngIf="isUser()" routerLink="/order-user/new"><mdb-icon fas icon="file-alt"></mdb-icon> Quản lý đơn hàng</a>
              <a class="dropdown-item" *ngIf="isAdmin()" routerLink="/admin/dashboard"><mdb-icon fas icon="user-tie"></mdb-icon>Admin</a>
              <a class="dropdown-item" *ngIf="isAdmin()" href="http://localhost:8080/Products"><mdb-icon fas icon="user-tie"></mdb-icon>Admin(MVC)</a>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
