<div class="row" >
<div class="col-lg-4 col-md-6 mb-4" *ngFor="let product of products|filter :searchProduct">

  <!--Card-->
  <div class="card card-ecommerce">

    <!--Card image-->
    <div class="view overlay">
      <img src="{{product.image[0]}}" class="img-fluid" alt="sample image">
      <a>
        <div class="mask rgba-white-slight waves-effect waves-light" [routerLink] = "['/product-detail', product.id]"></div>
      </a>
    </div>
    <!--Card image-->

    <!--Card content-->
    <div class="card-body">
      <!--Category & Title-->

      <h5 class="card-title mb-1">
        <strong>
          <a [routerLink] = "['/product-detail', product.id]" class="dark-grey-text">{{product.name}}</a>
        </strong>
      </h5>
      <span class="badge badge-danger mb-2" *ngIf="product.status === 'sale'">Bestseller</span>
      <span class="badge badge-success mb-2" *ngIf="product.status === 'new'">New</span>
      <span class="badge badge-warning mb-2" *ngIf="product.status === 'sold-out'">Sold out</span>
      <span class="badge badge-primary mb-2" *ngIf="product.status === 'hot'">Hot</span>
      <!-- Rating -->

      <!--Card footer-->
      <div class="card-footer pb-0">
        <div class="row mb-0">
                    <span class="float-left">
                      <strong>{{product.price}}.000đ</strong>
                    </span>
          <span class="float-right">
                      <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Cart">
                        <i class="fas fa-shopping-cart ml-3"></i>
                      </a>
                    </span>
        </div>
      </div>

    </div>
    <!--Card content-->

  </div>
  <!--Card-->

</div>
</div>
