<div class="container-fluid full-page-container">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-lg-4 col-sm-8 animated fadeIn">
      <!-- Material form login -->
      <mdb-card class="z-depth-2">

        <div class="text-center py-4">
          <h5>
            <strong>Đăng ký</strong>
          </h5>
        </div>


        <!--Card content-->
        <mdb-card-body class="px-lg-5 pt-0">
          <!-- Form -->
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="text-center" style="color: #757575;">

            <!-- Username -->
            <div class="md-form">
              <input type="text" id="fullName" class="form-control" formControlName="fullName" mdbInput>
              <label for="fullName">Họ và tên</label>
            </div>

            <!-- Email -->
            <div class="md-form">
              <input mdbValidate [validateSuccess]="false" type="email" id="email" class="form-control" formControlName="emailAddress" mdbInput>
              <label for="email">E-mail</label>
              <mdb-error *ngIf=" this.f.emailAddress.invalid &&  this.f.emailAddress.touched ">Chưa nhập địa chỉ email</mdb-error>
            </div>

            <!-- Password -->
            <div class="md-form">
              <input mdbValidate  type="password" id="password" class="form-control" formControlName="password" mdbInput>
              <label for="password">Mật khẩu</label>
              <mdb-error *ngIf=" this.f.password.invalid &&  this.f.password.touched ">Chưa nhập mật khẩu</mdb-error>
            </div>

            <div class="md-form">
              <input mdbValidate  type="password" id="re-password" class="form-control" formControlName="rePassword" mdbInput pattern="{{checkPasswords()}}">
              <label for="re-password">Nhập lại mật khẩu</label>
              <mdb-error *ngIf=" this.f.rePassword.invalid &&  this.f.rePassword.touched && !this.f.rePassword.hasError('pattern')">Chưa nhập mật khẩu</mdb-error>
              <mdb-error *ngIf=" this.f.rePassword.invalid &&  this.f.rePassword.touched && this.f.rePassword.hasError('pattern')">Nhập sai mật khẩu</mdb-error>
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="error === 5000">
              Địa chỉ email đã được sử dụng
            </div>
            <!-- Sign in button -->
            <button mdbBtn color="primary" block="true" class="my-4 waves-effect z-depth-0"
                    mdbWavesEffect type="submit"
                    (click)="splitFullName(this.registerForm.get('fullName').value)"
                    [disabled]="this.f.emailAddress.invalid || this.f.rePassword.invalid || this.f.password.invalid || this.f.rePassword.hasError('pattern')"
            >Đăng ký</button>
            <!-- Register -->
            <p>Bạn đã có tài khoản?
              <a routerLink="/login">Đăng nhập</a>
            </p>

          </form>
          <!-- Form -->

        </mdb-card-body>

      </mdb-card>
      <!-- Material form login -->
    </div>
  </div>
</div>
