.mt-5, .my-5 {
  margin-top: 7rem !important;
}
[type=radio]:checked {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
[type=radio]:not(:checked) {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.full-page-container {
  height: calc(100vh - 114px);
}
@media screen and (max-height:885px) {
  .full-page-container {
    margin-top: 100px;
    margin-bottom: 50px;
    height: auto;
  }
}
