<main >

  <!-- Main Container -->
  <div class="container " [ngClass]="loader ? 'full-page-container': ''">

    <!-- Section cart -->
    <section class="section my-5 pb-5">

      <div class="card card-ecommerce">
        <div class="card-body">

          <!-- Shopping Cart table -->
          <div class="table-responsive">

            <table class="table product-table">

              <!-- Table head -->
              <thead class="mdb-color lighten-5">
              <tr>
                <th></th>
                <th class="font-weight-bold">
                  <strong>Sản phẩm</strong>
                </th>
                <th class="font-weight-bold">
                  <strong>Màu</strong>
                </th>
                <th class="font-weight-bold">
                  <strong>Giá</strong>
                </th>
                <th class="font-weight-bold">
                  <strong>Số lượng</strong>
                </th>
                <th>Cỡ</th>
                <th class="font-weight-bold">
                  <strong>Tổng tiền</strong>
                </th>
                <th></th>
                <th></th>
              </tr>
              </thead>
              <!-- /.Table head -->


              <!-- Table body -->
              <tbody *ngIf="cart && !loader">
              <!-- First row -->
              <tr *ngFor="let product of cart.orderDetail;index as i">
                <th scope="row" >
                  <a [routerLink] = "['/product-detail', product.product.id]"><img class="img-thumbnail" style="width: 100px" src="{{product.product.image[0]}}" alt="" class="img-fluid z-depth-0"></a>
                </th>
                <td>
                  <h5 class="">
                    <strong><a [routerLink] = "['/product-detail', product.product.id]" class="dark-grey-text">{{product.product.name}}</a></strong>
                  </h5>
                  <p class="text-muted">{{product.product.brand}}</p>
                </td>
                <td>{{product.product.color}}</td>
                <td>{{product.product.price}}.000Đ</td>
                <td>
                  {{product.quanity}}
                  <div class="btn-group radio-group ml-2 mt-1" data-toggle="buttons">
                    <label mdbWavesEffect class="btn btn-sm btn-primary btn-rounded waves-effect waves-light" >
                      <input type="radio" name="options" id="option1" (click)="updateQTY('-', product, i)">—
                    </label>
                    <label mdbWavesEffect class="btn btn-sm btn-primary btn-rounded waves-effect waves-light">
                      <input type="radio" name="options" id="option2" (click)="updateQTY('+', product, i)">+
                    </label>
                  </div>
                </td>
                <td>{{product.product.size}}</td>
                <td class="font-weight-bold">
                  <strong >{{product.total}}.000Đ</strong>
                </td>
                <td>
                  <button type="button" class="btn btn-sm btn-danger waves-effect waves-light" mdbBtn  data-original-title="Remove item" (click)="addProduct.show()">X
                  </button>
                </td>
                <div mdbModal #addProduct="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close pull-right" aria-label="Close" (click)="addProduct.hide()">
                          <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title w-100" id="addprd">Remove product ?</h4>
                      </div>
                      <div >
                         <td>
                           <h5 class="">
                             <strong>{{product.product.name}}</strong>
                           </h5>
                           <p class="text-muted">{{product.product.brand}}</p>
                         </td>
                         <td>{{product.product.color}}</td>
                         <td>{{product.product.price| currency:"VND"}}000</td>
                         <td class="text-center text-md-left">
                           {{product.quanity}}
                         </td>
                         <td>{{product.product.size}}</td>
                         <td class="font-weight-bold">
                           <strong >{{product.total| currency:"VND"}}000</strong>
                         </td>
                       </div>
                      <div class="modal-footer">
                        <button type="button" mdbBtn color="secondary" class="waves-light btn-sm" aria-label="Close" (click)="addProduct.hide()" mdbWavesEffect>Close</button>
                        <button type="button" mdbBtn color="primary" class="relative waves-light btn-sm" mdbWavesEffect (click)="removeItem(product, i);">Remove product</button>
                      </div>
                    </div>
                  </div>
                </div>
              </tr>

              </tbody>
              <!-- /.Table body -->

            </table>

            <div class="row">
              <div class="col-9">
                <h4 class="ml-3 mt-3 font-weight-bold" *ngIf="cart">Tổng tiền: {{cart.total| currency:"VND"}}.000</h4>
              </div>
              <div  *ngIf="cart">
                <button type="button" class="btn btn-sm btn-primary btn-rounded waves-effect waves-light  fr"  mdbBtn color="info" mdbWavesEffect (click)="onCheckOut()" *ngIf="this.cart.total !== 0"><i class="fas fa-cart-plus mr-2" aria-hidden="true"></i> Thanh toán</button>
                <button type="button" class="btn btn-sm btn-primary btn-rounded waves-effect waves-light" mdbBtn color="info" mdbWavesEffect routerLink="/product-list/all" *ngIf="this.cart.total == 0"><i class="fas fa-cart-plus mr-2" aria-hidden="true"></i> Tiếp tục mua</button>
              </div>
            </div>

          </div>
          <!-- /.Shopping Cart table -->

        </div>

      </div>
    </section>
    <!-- /Section cart -->
    <div class="row h-100 justify-content-center align-items-center" *ngIf="loader">
      <div  class="spinner-border text-primary " role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <!-- Section products -->
    <section>
      <h4 class="font-weight-bold mt-4 title-1">
        <strong>SẢN PHẨM NỔI BẬT</strong>
      </h4>
      <hr class="blue mb-5">

      <div class="row" >

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4" *ngFor="let product of products | slice:7:11">

          <!--Card-->
          <div class="card card-ecommerce">

            <!--Card image-->
            <div class="view overlay" routerLink="/product-detail/{{product.id}}">
              <img src="{{product.image[0]}}" class="img-fluid img-cst" alt="sample image">
              <a>
                <div class="mask rgba-white-slight waves-effect waves-light"></div>
              </a>
            </div>
            <!--Card image-->

            <!--Card content-->
            <div class="card-body">
              <!--Category & Title-->

              <h5 class="card-title mb-1">
                <strong>
                  <a routerLink="/product-detail/{{product.id}}" class="dark-grey-text">{{product.name}}</a>
                </strong>
              </h5>
              <span class="badge badge-danger mb-2" *ngIf="product.status === 'sale'">Bestseller</span>
              <span class="badge badge-success mb-2" *ngIf="product.status === 'new'">New</span>
              <span class="badge badge-warning mb-2" *ngIf="product.status === 'sold-out'">Sold out</span>
              <span class="badge badge-primary mb-2" *ngIf="product.status === 'hot'">Hot</span>
              <!-- Rating -->

              <!--Card footer-->
              <div class="card-footer pb-0">
                <div class="row mb-0">
                    <span class="float-left">
                      <strong>{{product.price}}.000đ</strong>
                    </span>
                  <span class="float-right">
                      <a routerLink="/product-detail/{{product.id}}" class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Cart">
                        <i class="fas fa-shopping-cart ml-3"></i>
                      </a>
                    </span>
                </div>
              </div>

            </div>
            <!--Card content-->

          </div>
          <!--Card-->

        </div>
        <!--Grid column-->


      </div>

    </section>
    <!-- Section products -->

  </div>
  <!-- /.Main Container -->

</main>
