<div class="container pt-3 ">
  <section id="productDetails" class="pb-5 ">

    <!--News card-->
    <div class="card  hoverable pl-5 pr-5">
      <div class="row mt-5">
        <div class="col-lg-12">

          <div class="card card-ecommerce">
            <div class="card-body">

              <!-- Shopping Cart table -->
              <div class="table-responsive">

                <table class="table product-table">

                  <!-- Table head -->
                  <thead class="mdb-color lighten-5">
                  <tr>
                    <th></th>
                    <th class="font-weight-bold">
                      <strong>Sản phẩm</strong>
                    </th>

                    <th class="font-weight-bold">
                      <strong>Màu</strong>
                    </th>
                    <th class="font-weight-bold">
                      <strong>Giá</strong>
                    </th>
                    <th class="font-weight-bold">
                      <strong>Số lượng</strong>
                    </th>
                    <th class="font-weight-bold">Cỡ</th>
                    <th class="font-weight-bold">
                      <strong>Tổng tiền</strong>
                    </th>
                    <th></th>
                  </tr>
                  </thead>
                  <!-- /.Table head -->


                  <!-- Table body -->
                  <tbody *ngFor="let orderDetail of orderDetail.details">
                  <!-- First row -->
                  <tr >
                    <th scope="row" >
                      <img class="img-thumbnail" *ngIf="orderDetail.product.image[0]" style="width: 100px" src="{{orderDetail.product.image[0]}}" alt="" class="img-fluid z-depth-0">
                    </th>
                    <td>
                      <h5 class="">
                        <strong><a  class="dark-grey-text">{{orderDetail.product.name}}</a></strong>
                      </h5>
                      <p class="text-muted">{{orderDetail.product.brand}}</p>
                    </td>
                    <td>{{orderDetail.product.color}}</td>
                    <td>{{orderDetail.product.price| currency:'VND'}}.000</td>
                    <td>
                      {{total}}
                    </td>
                    <td>{{orderDetail.product.size}}</td>
                    <td class="font-weight-bold">
                      <strong >{{orderDetail.total| currency:'VND'}}.000</strong>
                    </td>
                  </tr>

                  </tbody>
                  <!-- /.Table body -->

                </table>

                <div class="row">
                  <div class="col-9">
                    <h4 class="ml-3 mt-3 font-weight-bold" >Tổng tiền: {{total | currency:'VND'}}.000</h4>
                  </div>
                </div>

              </div>
              <!-- /.Shopping Cart table -->

            </div>

          </div>
          <!--/.Carousel Wrapper-->
        </div>
        <div class="col-lg-12 mt-5  text-center text-md-left">


          <!--Accordion wrapper-->
          <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

            <!-- Accordion card -->
            <div class="card">

              <!-- Card header -->
              <div class="card-header" role="tab" id="headingOne1">

                <h5 class="mb-0">
                  Thông tin giao hàng
                </h5>
              </div>

              <!-- Card body -->
              <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
                <table mdbTable small="true" class="mt-5">
                  <thead>
                  <tr>
                    <td>Họ và tên</td>
                    <td>Số điện thoại</td>
                    <td>Địa chỉ</td>
                    <td>Tài khoản</td>
                  </tr>
                  </thead>
                  <tbody>
                  <tr >
                    <th scope="row">{{orderDetail.custommer.lastName +' '+ orderDetail.custommer.firstName}}</th>
                    <td>{{orderDetail.custommer.phoneNumber}}</td>
                    <td>{{orderDetail.custommer.address}}</td>
                    <td>{{orderDetail.custommer.email}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- Accordion card -->
            <!-- Accordion card -->
          </div>
          <!--/.Accordion wrapper-->

          <!-- Add to Cart -->
          <section class="color">
            <div class="mt-5">
              <div class="row mt-3 mb-4">
                <div class="col-md-6 text-center text-md-left ">
                  <button class="btn btn-sm btn-primary btn-rounded waves-effect waves-light" mdbwaveseffect (click)="close()">
                    Quay lại</button>
                </div>
                <div class="col-md-6 text-center text-md-left text-md-right">
                  <button  color="danger" mdbBtn mdbwaveseffect size="sm" class="btn-danger btn-sm btn" (click)="completeOrder(orderDetail)" *ngIf="statusParam === 'order-new'">Xác nhận</button>

                  <button mdbwaveseffect class="btn btn-sm btn-primary btn-rounded waves-effect waves-light" (click)="cancelOrder(orderDetail)" *ngIf="statusParam === 'order-new'">
                    Hủy đơn hàng</button>
                </div>
              </div>
            </div>
          </section>
          <!-- /.Add to Cart -->
        </div>
      </div>
    </div>
  </section>
</div>
