<div class="row wow fadeIn" *ngIf="product">

  <div class="col-md-5 mb-5">

    <img src="{{product.image[0]}}" class="img-fluid" alt="">

  </div>
  <!--Grid column-->

  <!--Grid column-->
  <div class="col-md-7 mb-4 mt-5">

    <!--Content-->
    <div class="p-4">

      <div class="mb-3">
        <a href="">
          <span class="badge badge-danger mb-2" *ngIf="product.status === 'sale'">Bestseller</span>
          <span class="badge badge-success mb-2" *ngIf="product.status === 'new'">New</span>
          <span class="badge badge-warning mb-2" *ngIf="product.status === 'sold-out'">Sold out</span>
          <span class="badge badge-primary mb-2" *ngIf="product.status === 'hot'">Hot</span>
        </a>
      </div>

      <p class="lead">
              <span class="mr-1">
                <del>{{product.price|currency:"VND"}}.000</del>
              </span>
        <span>{{product.price|currency:"VND"}}.000</span>
      </p>

      <p class="lead font-weight-bold">Giới thiệu sản phẩm</p>

      <p>{{product.description}}</p>


      <div class="row">
        <div class="col">
          <label>Màu</label>
          <select class="browser-default custom-select" [(ngModel)]="selectedColor" >
            <option  *ngFor="let color of product.color" value="{{color}}">{{color}}</option>
          </select>

        </div>
        <div class="col">
          <label>Kích cỡ</label>
          <select class="browser-default custom-select" [(ngModel)]="selectedSize">
            <option  *ngFor="let size of product.size" value="{{size}}">{{size}}</option>
          </select>
        </div>
      </div>
      <div class="d-flex justify-content-left mt-3">
        <!-- Default input -->
        <input type="number" [(ngModel)]="quantity"  aria-label="count" class="form-control" style="width: 100px">
        <button class="btn btn-primary btn-md my-0 p waves-effect waves-light ml-3" type="submit" mdbWavesEffect (click)="addToCart(product)">Thêm vào giỏ
          <i class="fas fa-shopping-cart ml-1"></i>
        </button>
      </div>
      <div class="alert alert-danger mt-3" *ngIf="error" role="alert">
        Bạn phải chọn màu và kích cỡ
      </div>
    </div>
    <div class="p-4" *ngFor="let comment of product.commentProducts ; index as i">
      <div class="media d-block d-md-flex" >
        <img class="d-flex mx-auto avatar" src="{{comment.userImage}}" alt="Generic placeholder image">
        <div class="media-body text-center text-md-left ml-md-3 ml-0">
          <h6 class="mt-0 font-weight-bold">{{comment.userName}}</h6>
          {{comment.content}}
        </div>
        <div *ngIf="currentUser">
          <a *ngIf="comment.idUser == currentUser.id" (click)="deleteComment(i)" class="font-12 mt-3 "><mdb-icon fas icon="trash-alt"></mdb-icon></a>
        </div>
      </div>

    </div>
    <div class="p-4" *ngIf="currentUser">
      <div class="media d-block d-md-flex">
        <img *ngIf="currentUser.image" class="d-flex mx-auto avatar" src="{{currentUser.image}}" alt="Generic placeholder image">
        <img *ngIf="!currentUser.image" src="https://mdbootstrap.com/img/Photos/Avatars/img(31).jpg" class="d-flex mx-auto avatar"  alt="Responsive image" mdbDropdownToggle>

        <div class="media-body text-center text-md-left ml-md-3 ml-0">
          <h6 class="mt-0 font-weight-bold">{{currentUser.username}}</h6>
          <div class="form-group basic-textarea rounded-corners mb-md-0">
            <textarea class="form-control z-depth-1" id="exampleFormControlTextarea3" rows="3" placeholder="Write your comment..." [(ngModel)]="content"></textarea>
          </div>
          <button *ngIf="!loadCMT && !selectContent" class="btn btn-primary btn-rounded btn-sm waves-effect waves-light mt-3" mdbBtn mdbWavesEffect (click)="onComment()" [disabled]="!content">Bình luận</button>
          <button *ngIf="loadCMT" mdbBtn color="primary" type="button" class="btn-sm" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span class="sr-only">Loading...</span>
          </button>
        </div>
      </div>
    </div>
    <div class="p-4" *ngIf="!currentUser">
      <div class="media d-block d-md-flex mt-3">
        <div class="media-body text-center text-md-left ml-0">
          <div class="form-group basic-textarea rounded-corners mb-md-0 mb-4">
            <textarea class="form-control z-depth-1" id="cmt" rows="3" placeholder="Write your comment..."></textarea>
          </div>
          <button class="btn btn-danger btn-rounded btn-sm waves-effect waves-light mt-3" mdbBtn mdbWavesEffect (click)="login.show()">Bình luận</button>
        </div>
      </div>
    </div>

  </div>
  <!--Grid column-->

</div>
<div mdbModal #login="mdbModal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="login.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="addprd">Đăng nhập</h4>
      </div>
      <form class="modal-body text-center" [formGroup]="loginForm" style="color: #757575;" (ngSubmit)="onSubmit()">

        <!-- Email -->
        <div class="md-form">
          <input mdbValidate  type="email" id="email" class="form-control" formControlName="email" mdbInput >
          <label for="email">E-mail</label>
          <mdb-error *ngIf=" email.invalid &&  email.touched ">Chưa nhập địa chỉ email</mdb-error>
        </div>

        <!-- Password -->
        <div class="md-form">
          <input mdbValidate [validateSuccess]="false" type="password" id="password" class="form-control" formControlName="password" mdbInput>
          <label for="password">Mật khẩu</label>
          <mdb-error *ngIf="password && password.invalid && password.errors && password.errors.required && (password.dirty || password.touched)">Chưa nhập mật khẩu</mdb-error>
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="er === 20001">
          Sai mật khẩu
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="er === 20002">
          Tài khoản chưa được đăng ký
        </div>
        <!-- Sign in button -->
        <button mdbBtn color="primary" block="true" class="my-4 waves-effect z-depth-0"
                mdbWavesEffect type="submit" *ngIf="!loader" [disabled]="loginForm.status !== 'VALID'">Đăng nhập</button>
        <div class="spinner-grow text-primary" *ngIf="loader" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <!-- Register -->
        <p>Chưa có tài khoản?
          <a routerLink="/register">Đăng ký</a>
        </p>

      </form>
      <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="login.hide()" mdbWavesEffect>Close</button>
      </div>
    </div>
  </div>
</div>
