<footer class="page-footer text-center text-md-left stylish-color-dark pt-0">

  <div style="background-color: #4285f4;">
    <div class="container">
      <!--Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!--Grid column-->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0 white-text">Kết nối với chung tôi qua mạng xã hội!</h6>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 col-lg-7 text-center text-md-right">
          <!--Facebook-->
          <a class="fb-ic ml-0 px-2" target="_blank" href="https://www.facebook.com/duclinh090999"><i class="fab fa-facebook-f white-text"> </i></a>
          <!--Twitter-->
          <!--Instagram-->
          <a class="ins-ic px-2" target="_blank" href="https://www.instagram.com/_linhld/"><i class="fab fa-instagram white-text"> </i></a>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </div>

  <!--Footer Links-->
  <div class="container mt-5 mb-4 text-center text-md-left">
    <div class="row mt-3">

      <!--First column-->
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
        <h6 class="text-uppercase font-weight-bold"><strong>LKN shop</strong></h6>
        <hr class="blue mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Cửa hàng chúng tôi chuyên bán các loại quần áo nam, mẫu mã đa dạng cùng với giá cả cạnh tranh.</p>
      </div>
      <!--/.First column-->

      <!--Second column-->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold"><strong>Sản phẩm</strong></h6>
        <hr class="blue mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p><a routerLink="/product-list/all">Sản phẩm trong shop</a></p>
        <p><a routerLink="/product-list/new">Sản phẩm mới</a></p>
        <p><a routerLink="/product-list/hot">Sản phẩm bán chạy</a></p>
        <p><a routerLink="/product-list/sale">Sản phẩm giảm giá</a></p>
      </div>
      <!--/.Second column-->

      <!--Third column-->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold"><strong>Tiện ích</strong></h6>
        <hr class="blue mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p *ngIf="currentUser"><a  routerLink="/account">Tài khoản của bạn</a></p>
        <p *ngIf="!currentUser"><a routerLink="/login">Đăng nhập mua hàng</a></p>
        <p *ngIf="!currentUser"><a routerLink="/register">Đăng ký thành viên</a></p>
      </div>
      <!--/.Third column-->

      <!--Fourth column-->
      <div class="col-md-4 col-lg-3 col-xl-3">
        <h6 class="text-uppercase font-weight-bold"><strong>Liên hệ</strong></h6>
        <hr class="blue mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p><i class="fas fa-home mr-3"></i> Gò Vấp, HCM</p>
        <p><i class="fas fa-envelope mr-3"></i> leduclinh65@gmail.com</p>
        <p><i class="fas fa-phone mr-3"></i> 0971830053</p>
      </div>
      <!--/.Fourth column-->

    </div>
  </div>
  <!--/.Footer Links-->

  <!-- Copyright-->
  <div class="footer-copyright py-3 text-center">
    <div class="container-fluid">
      © 2019 Copyright: <a href="https://mdbootstrap.com/education/bootstrap/" target="_blank"> MDBootstrap.com </a>
    </div>
  </div>
  <!--/.Copyright -->

</footer>
