<div class="container" style="margin-top: 50px">
  <!-- Grid row -->
  <div class="row pt-4">

    <!-- Content -->
    <div class="col-lg-12">

      <!-- Categories & Adv -->
      <section class="section pt-2">

        <!-- Grid row -->
        <div class="row">

          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4">

            <!-- Section: Categories -->
            <section class="section">

                <!--Image -->
                <div class="view zoom z-depth-1 photo">
                  <img src="../../../../assets/images/home/product1.jpg" class="img-fluid" alt="sample image">
                  <div class="mask rgba-stylish-strong">
                    <div class="white-text flex-center text-center">
                      <div class="">
                        <a><span class="badge badge-info">NEW</span></a>
                        <h2 class="card-title font-weight-bold pt-2"><strong>Sản phẩm mới</strong></h2>
                        <p class="">Cửa hàng vừa về một số sản phẩm mới. </p>
                        <a class="btn btn-info btn-sm btn-rounded waves-effect waves-light" routerLink="/product-list/new"> Xem ngay</a>
                      </div>
                    </div>
                  </div>

                </div>
                <!--Image -->

            </section>
            <!-- Section: Categories -->

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-8 col-md-12 pb-lg-5 mb-4">
            <!--Image -->
            <div class="view zoom z-depth-1">

              <img src="../../../../assets/images/home/product2%20.jpg" class="img-fluid" alt="sample image">
              <div class="mask rgba-white-light">
                <div class="white-text  pt-4 ml-3 pl-3">
                  <div>
                    <a>
                      <span class="badge badge-danger">hot</span>
                    </a>
                    <h2 class="card-title font-weight-bold pt-2">
                      <strong>Sản phẩm bán chạy</strong>
                    </h2>
                    <p class="">Những sản phẩm bán chạy trong đợt này. </p>
                    <a class="btn btn-danger btn-sm btn-rounded clearfix d-none d-md-inline-block waves-effect waves-light" routerLink="/product-list/hot">Xem ngay</a>
                  </div>
                </div>
              </div>

            </div>
            <!--Image -->
          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

      </section>
      <!-- Categories & Adv -->

      <!--Section: Bestsellers & offers-->
      <section>

        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
          <div class="col-12">

            <!-- Nav tabs -->
            <ul class="nav md-tabs nav-justified grey lighten-3 mx-0" role="tablist">
              <li class="nav-item">
                <a class="nav-link dark-grey-text font-weight-bold" data-toggle="tab" href="#panel5" role="tab" aria-selected="false"> Sản phẩm mới</a>
              </li>
              <li class="nav-item">
                <a class="nav-link dark-grey-text font-weight-bold active" data-toggle="tab" href="#panel6" role="tab" aria-selected="true">Sản phẩm hot</a>
              </li>
              <li class="nav-item">
                <a class="nav-link dark-grey-text font-weight-bold" data-toggle="tab" href="#panel7" role="tab" aria-selected="false">
                  Sản phẩm giảm giá</a>
              </li>
            </ul>
            <!-- Tab panels -->
            <div class="tab-content px-0">
              <!--Panel 1-->

              <!--/.Panel 1-->

              <!--Panel 2-->
              <div class="tab-pane fade active show" id="panel6" role="tabpanel">
                <br>

                <!-- Grid row -->
                <div class="row mb-3">

                  <!--Grid column-->
                  <div class="col-lg-4 col-md-12 mb-4" *ngFor="let prdn of productNew | slice:0:1">

                    <!--Card-->
                    <div class="card card-ecommerce">

                      <!--Card image-->
                      <div class="view overlay">
                        <img src="{{prdn.image[0]}}"  class="img-fluid" alt="sample image">
                        <a routerLink="/product-detail/{{prdn.id}}">
                          <div class="mask rgba-white-slight waves-effect waves-light"></div>
                        </a>
                      </div>
                      <!--Card image-->

                      <!--Card content-->
                      <div class="card-body">
                        <!--Category & Title-->

                        <h5 class="card-title mb-1">
                          <strong>
                            <a routerLink="/product-detail/{{prdn.id}}" class="dark-grey-text">{{prdn.name}}</a>
                          </strong>
                        </h5>
                        <span class="badge grey mb-2">New</span>
                        <div class="card-footer pb-0">
                          <div class="row mb-0">
                               <span class="float-left">
                                    <strong>{{prdn.price|currency:"VND"}}.000</strong>
                               </span>
                            <span class="float-right">
                              <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Cart" routerLink="/product-detail/{{prdn.id}}">
                                <i class="fas fa-shopping-cart ml-3"></i>
                              </a>
                            </span>
                          </div>
                        </div>

                      </div>
                      <!--Card content-->

                    </div>
                    <!--Card-->

                  </div>
                  <!--Grid column-->

                  <!--Grid column-->
                  <div class="col-lg-4 col-md-6 mb-4" *ngFor="let prdh of productHot | slice:0:1">
                    <!--Card-->
                    <div class="card card-ecommerce">

                      <!--Card image-->
                      <div class="view overlay">
                        <img src="{{prdh.image[0]}}" class="img-fluid" alt="sample image" >
                        <a routerLink="/product-detail/{{prdh.id}}">
                          <div class="mask rgba-white-slight waves-effect waves-light"></div>
                        </a>
                      </div>
                      <!--Card image-->

                      <!--Card content-->
                      <div class="card-body">
                        <!--Category & Title-->

                        <h5 class="card-title mb-1">
                          <strong>
                            <a routerLink="/product-detail/{{prdh.id}}" class="dark-grey-text">{{prdh.name}}</a>
                          </strong>
                        </h5>
                        <span class="badge badge-info mb-2">Hot</span>
                        <!-- Rating -->


                        <!--Card footer-->
                        <div class="card-footer pb-0">
                          <div class="row mb-0">
                            <span class="float-left">
                              <strong>{{prdh.price|currency:"VND"}}.000</strong>
                            </span>
                            <span class="float-right">
                              <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Cart" routerLink="/product-detail/{{prdh.id}}">
                                <i class="fas fa-shopping-cart ml-3"></i>
                              </a>
                            </span>
                          </div>
                        </div>

                      </div>
                      <!--Card content-->

                    </div>
                    <!--Card-->

                  </div>
                  <!--Grid column-->

                  <!--Grid column-->
                  <div class="col-lg-4 col-md-6 mb-4" *ngFor="let prdS of productSale | slice:0:1">

                    <!--Card-->
                    <div class="card card-ecommerce">

                      <!--Card image-->
                      <div class="view overlay">
                        <img src="{{prdS.image[0]}}" class="img-fluid" alt="sample image" >
                        <a routerLink="/product-detail/{{prdS.id}}">
                          <div class="mask rgba-white-slight waves-effect waves-light"></div>
                        </a>
                      </div>
                      <!--Card image-->

                      <!--Card content-->
                      <div class="card-body">
                        <!--Category & Title-->

                        <h5 class="card-title mb-1">
                          <strong>
                            <a routerLink="/product-detail/{{prdS.id}}" class="dark-grey-text">{{prdS.name}}</a>
                          </strong>
                        </h5>
                        <span class="badge badge-info mb-2">sale</span>
                        <!-- Rating -->


                        <!--Card footer-->
                        <div class="card-footer pb-0">
                          <div class="row mb-0">
                            <h5 class="mb-0 pb-0 mt-1 font-weight-bold">
                              <span class="red-text">
                                <strong>{{prdS.price|currency:"VND"}}.000</strong>
                              </span>
                              <span class="grey-text">
                                <small>
                                  <s>{{prdS.price|currency:"VND"}}.000</s>
                                </small>
                              </span>
                            </h5>

                            <span class="float-right">
                              <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Cart" routerLink="/product-detail/{{prdS.id}}">
                                <i class="fas fa-shopping-cart ml-3"></i>
                              </a>
                            </span>
                          </div>
                        </div>

                      </div>
                      <!--Card content-->

                    </div>
                    <!--Card-->

                  </div>
                  <!--Grid column-->

                </div>
                <!--Grid row-->
              </div>
              <!--/.Panel 2-->

              <!--Panel 3-->
              <!--/.Panel 3-->
            </div>

          </div>

        </div>
        <!--Grid row-->

      </section>
      <!--Section: Bestsellers & offers-->

      <!--Section: Advertising-->
      <section>

        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
          <div class="col-12">
            <!--Image -->
            <div class="view  z-depth-1">

              <img src="../../../../assets/images/home/prd3.jpg" class="img-fluid" alt="sample image">
              <div class="mask rgba-stylish-slight">
                <div class="dark-grey-text text-right pt-lg-5 pt-md-1 mr-5 pr-md-4 pr-0">
                  <div>
                    <a>
                      <span class="badge badge-primary">SALE</span>
                    </a>
                    <h2 class="card-title font-weight-bold pt-md-3 pt-1">
                      <strong>Giảm giá 20% đến 50%  các sản phẩm
                      </strong>
                    </h2>
                    <p class="pb-lg-3 pb-md-1 clearfix d-none d-md-block">Những sản phẩm giảm giá có tại cửa hàng. </p>
                    <a class="btn mr-0 btn-primary btn-rounded clearfix d-none d-md-inline-block waves-effect waves-light" routerLink="/product-list/sale">Xem ngay</a>
                  </div>
                </div>
              </div>

            </div>
            <!--Image -->
          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

      </section>
      <!--/Section: Advertising-->

      <!--Section: product list-->
      <section class="mb-5">
        <div class="row">
          <!-- New Products-->
          <div class="col-lg-4 col-md-12 col-12 pt-5">
            <hr>
            <h5 class="text-center font-weight-bold dark-grey-text">
              <strong>Sản phẩm bán chạy</strong>
            </h5>
            <hr>
            <!-- First row -->
            <div routerLink="/product-detail/{{prd.id}}" class="row mt-5 py-2 mb-4 hoverable align-items-center" *ngFor="let prd of productHot">

              <div class="col-4">
                <a>
                  <img src="{{prd.image[0]}}" class="img-fluid img-cst">
                </a>
              </div>
              <div class="col-8">

                <a class="pt-4">
                  <strong>{{prd.name}}</strong>
                </a>
                <h6 class="h6-responsive font-weight-bold dark-grey-text">
                  <strong>{{prd.price|currency:"VND"}}.000</strong>
                </h6>

              </div>

            </div>
            <!-- /.First row -->


          </div>
          <!-- /.New Products-->

          <!-- Top Sellers-->
          <div class="col-lg-4  col-md-12 pt-5">

            <hr>
            <h5 class="text-center font-weight-bold dark-grey-text">
              <strong>Sản phẩm mới</strong>
            </h5>
            <hr>

            <!-- First row -->
            <div routerLink="/product-detail/{{prdNew.id}}" class="row mt-5 py-2 mb-4 hoverable align-items-center" *ngFor="let prdNew of productNew | slice:0:3">

              <div class="col-4">
                <a>
                  <img src="{{prdNew.image[0]}}" class="img-fluid img-cst">
                </a>
              </div>
              <div class="col-8">

                <!-- Title -->
                <a>
                  <strong>{{prdNew.name}}</strong>
                </a>

                <!-- Rating -->


                <!-- Price -->
                <h6 class="h6-responsive font-weight-bold dark-grey-text">
                  <strong>{{prdNew.price|currency:"VND"}}.000</strong>
                  <span class="grey-text">
                    <small>
                      <s>{{prdNew.price|currency:"VND"}}.000</s>
                    </small>
                  </span>
                </h6>

              </div>

            </div>
            <!-- /.First row -->

            <!-- Second row -->


          </div>
          <!-- /.Top Sellers -->

          <!-- Random Products-->
          <div class="col-lg-4 col-md-12 pt-5">

            <hr>
            <h5 class="text-center font-weight-bold dark-grey-text">
              <strong>Sản phẩm giảm giá</strong>
            </h5>
            <hr>

            <!-- First row -->
            <div routerLink="/product-detail/{{prdSale.id}}" class="row mt-5 py-2 mb-4 hoverable align-items-center" *ngFor="let prdSale of productSale| slice:0:3">

              <div class="col-4">
                <a>
                  <img src="{{prdSale.image[0]}}" class="img-fluid img-cst">
                </a>
              </div>
              <div class="col-8">

                <a>
                  <strong>{{prdSale.name}}</strong>
                </a>
                <h6 class="h6-responsive font-weight-bold dark-grey-text">
                  <strong>{{prdSale.price|currency:"VND"}}.000</strong>
                  <span class="grey-text">
                    <small>
                      <s>{{prdSale.price|currency:"VND"}}.000</s>
                    </small>
                  </span>
                </h6>

              </div>

            </div>
          </div>
          <!-- /.Random Products -->
        </div>

      </section>
      <!--/Section: product list-->

      <!--Section: Last items-->
      <section>

        <h4 class="font-weight-bold mt-4 dark-grey-text">
          <strong>Một số sản phẩm nổi bật</strong>
        </h4>
        <hr class="mb-5">

        <!-- Grid row -->
        <div class="row" >

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4" *ngFor="let product of products | slice:7:11">

            <!--Card-->
            <div class="card card-ecommerce">

              <!--Card image-->
              <div class="view overlay" [routerLink]="['/product-detail', product.id]">
                <img src="{{product.image[0]}}" class="img-fluid img-cst" alt="sample image">
                <a>
                  <div class="mask rgba-white-slight waves-effect waves-light"></div>
                </a>
              </div>
              <!--Card image-->

              <!--Card content-->
              <div class="card-body">
                <!--Category & Title-->

                <h5 class="card-title mb-1">
                  <strong>
                    <a [routerLink]="['/product-detail', product.id]" class="dark-grey-text">{{product.name}}</a>
                  </strong>
                </h5>
                <span class="badge badge-danger mb-2" *ngIf="product.status === 'sale'">Bestseller</span>
                <span class="badge badge-success mb-2" *ngIf="product.status === 'new'">New</span>
                <span class="badge badge-warning mb-2" *ngIf="product.status === 'sold-out'">Sold out</span>
                <span class="badge badge-primary mb-2" *ngIf="product.status === 'hot'">Hot</span>
                <!-- Rating -->

                <!--Card footer-->
                <div class="card-footer pb-0">
                  <div class="row mb-0">
                    <span class="float-left">
                      <strong>{{product.price|currency:"VND"}}.000</strong>
                    </span>
                    <span class="float-right">
                      <a [routerLink]="['/product-detail', product.id]" class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Cart">
                        <i class="fas fa-shopping-cart ml-3"></i>
                      </a>
                    </span>
                  </div>
                </div>

              </div>
              <!--Card content-->

            </div>
            <!--Card-->

          </div>
          <!--Grid column-->


        </div>
        <!--Grid row-->

        <!--Grid row-->
        <!--Grid row-->
      </section>
      <!-- /.Section: Last items -->

    </div>
    <!-- /.Content -->

  </div>
  <!-- /Grid row -->
</div>
