<div class="card mt-5 hoverable pl-5 pr-5 pb-5">
  <div class="row mt-5">
    <div class="col-lg-12">

      <div class="card card-ecommerce">
        <div class="card-body">

          <!-- Shopping Cart table -->
          <div class="table-responsive">

            <table class="table table-hover">
              <thead>
              <tr>
                <th scope="col">STT</th>
                <th scope="col">Ngày</th>
                <th scope="col">Địa chỉ</th>
                <th scope="col">Số điện thoại</th>
                <th scope="col">Tổng tiền</th>
                <th></th>
              </tr>
              </thead>
              <tbody *ngFor="let order of orderUser, index as i">
              <tr >
                <th scope="row">{{i + 1}}</th>
                <td>{{order.date| date: 'M/d/yy, h:mm a'}}</td>
                <td>{{order.custommer.address}}</td>
                <td>{{order.custommer.phoneNumber}}</td>
                <td>{{order.total| currency: 'VND'}}.000</td>
                <td ><a (click)="selectOrder(order)">Chi tiết</a></td>
              </tr>

              </tbody>

            </table>
            <nav aria-label="Page navigation example"  class="mt-5" *ngIf="listPage.length>0">
              <ul class="pagination pg-blue">
                <li class="page-item" [ngClass]="pageNumber == 0 ? 'disabled' : ''" >
                  <a class="page-link" tabindex="-1" (click)="selectPage(pageNumber - 1)"  mdbWavesEffect>Sau</a>
                </li>
                <li class="page-item " (click)="selectPage(i)" [ngClass]="pageNumber == i ? 'active': ''" *ngFor="let i of listPage"><a class="page-link" mdbWavesEffect>{{i}}</a></li>
                <li class="page-item" [ngClass]="pageNumber == listPage.length-1 ? 'disabled': ''">
                  <a  class="page-link" mdbWavesEffect (click)="selectPage(pageNumber + 1)">Tiếp</a>
                </li>
              </ul>
            </nav>
            <div class="full" *ngIf="orderUser.length == 0">
              <div class="row mt-3" >
                <div class="col-md-4"></div>
                <div class="col-md-4 center">
                  <img src="../../../../../assets/images/home/box-empty.jpg" alt="Error 404" style="max-height: 200px">
                  <h4 class="ml-2">Chưa có đơn đặt hàng</h4>
                </div>
                <div class="col-md-4"></div>

              </div>
            </div>

          </div>
          <!-- /.Shopping Cart table -->

        </div>

      </div>
      <!--/.Carousel Wrapper-->
    </div>

  </div>
</div>
