<header>

  <mdb-navbar [containerInside]="false" SideClass="navbar navbar-expand-lg navbar-light white">

    <!-- Navbar brand -->
    <logo class="ml-3">
      <a class="navbar-brand" routerLink="/home">
        <strong class="blue-text">LKN shop</strong>
      </a>
    </logo>

    <!-- Collapsible content -->
    <links>

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item mt-2" >
          <a class="nav-link" routerLink="/admin/dashboard" routerLinkActive="active" mdbWavesEffect >Dashboard
          </a>
        </li>
        <li class="nav-item mt-2">
          <a class="nav-link" routerLink="/admin/product-manage" routerLinkActive="active" mdbWavesEffect>Product list</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link">
            <div class="btn-group" mdbDropdown>
              <a mdbDropdownToggle class="nav-link" routerLinkActive="active">Order </a>
              <div class="dropdown-menu dropdown-menu-right dropdown-primary">
                <a class="dropdown-item" routerLink="/admin/order-new">Order new</a>
                <a class="dropdown-item" routerLink="/admin/order-complete">Order complete</a>
                <a class="dropdown-item" routerLink="/admin/order-cancel">Order cancel</a>
              </div>
            </div>
          </a>
        </li>
      </ul>
      <!-- Links -->

      <!-- Search form -->
      <ul class="navbar-nav nav-flex-icons">

        <li class="nav-item">
          <a href="https://www.facebook.com/duclinh090999" class="nav-link" target="_blank" mdbWavesEffect>
            <mdb-icon fab icon="facebook-f"></mdb-icon>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://www.instagram.com/_linhld/" class="nav-link" target="_blank" mdbWavesEffect>
            <mdb-icon fab icon="instagram"></mdb-icon>
          </a>
        </li>
      </ul>
    </links>
    <!-- Collapsible content -->

  </mdb-navbar>
  <!--/.Navbar-->

</header>
