<main class="mt-5 pt-4">
  <div class="container wow fadeIn">

    <!-- Heading -->
    <h2 class="my-5 h2 text-center">Hóa đơn</h2>

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-md-8 mb-4">
        <div>
          <h3>Thông tin giao hàng: </h3>
          <div class="custom-control custom-checkbox mt-3">
            <input type="checkbox" class="custom-control-input"  id="same-address" [(ngModel)]="checkedOld" (change)="onCheckedOld($event)" >
            <label class="custom-control-label" for="same-address">Sử dụng thông tin tài khoản</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="save-info" [(ngModel)]="checkedNew" (change)="onCheckedNew($event)">
            <label class="custom-control-label" for="save-info">Nhập địa chỉ mới</label>
          </div>
        </div>
        <table *ngIf="checkedOld" mdbTable small="true" class="mt-5">
          <thead>
          <tr>
            <td>Họ và tên</td>
            <td>Số điện thoại</td>
            <td>Địa chỉ</td>
            <td>Tài khoản</td>
          </tr>
          </thead>
          <tbody>
          <tr >
            <th scope="row">{{user.firstName +' '+ user.lastName}}</th>
            <td>{{user.phoneNumber}}</td>
            <td>{{user.address}}</td>
            <td>{{user.username}}</td>
          </tr>
          </tbody>
        </table>

        <!--Card-->
        <div class="card mt-5" *ngIf="checkedNew">

          <!--Card content-->
          <form class="card-body" [formGroup]="infoUser" (ngSubmit)="onCheckOut()">

            <!--Grid row-->
            <div class="row">

              <!--Grid column-->
              <div class="col-md-6 mb-2">

                <!--firstName-->
                <div class="md-form ">
                  <input type="text" id="firstName" class="form-control" mdbInput formControlName="firstName">
                  <label for="firstName" class="">Tên</label>
                </div>

              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-6 mb-2">

                <!--lastName-->
                <div class="md-form">
                  <input type="text" id="lastName" class="form-control" mdbInput formControlName="lastName">
                  <label for="lastName" class="" >Họ và tên đệm</label>
                </div>

              </div>
              <!--Grid column-->

            </div>
            <!--Grid row-->

            <!--Username-->
            <div class="md-form  mb-5">
              <input type="text" id="phoneNumber" class="form-control" mdbInput formControlName="phoneNumber">
              <label for="phoneNumber" class="" >Số điện thoại</label>
            </div>

            <!--email-->
            <div class="md-form mb-5">
              <input type="text" id="email" class="form-control" mdbInput formControlName="userName">
              <label for="email" class="">Địa chỉ email</label>
            </div>

            <!--address-->
            <div class="md-form">
              <input type="text" id="address" class="form-control" mdbInput formControlName="address">
              <label for="address" class="">Địa chỉ giao hàng</label>
            </div>
          </form>

        </div>
        <!--/.Card-->
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit" (click)="onCheckOut()" [disabled]="infoUser.status === 'INVALID' && checkedNew">Hoàn tất</button>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4 mb-4">

        <!-- Heading -->
        <h4 class="d-flex justify-content-between align-items-center mb-3" *ngIf="cart.orderDetail">
          <span class="text-muted">Giỏ của bạn</span>
          <span class="badge badge-secondary badge-pill">{{cart.orderDetail.length}}</span>
        </h4>

        <!-- Cart -->
        <ul class="list-group mb-3 z-depth-1" *ngIf="cart.orderDetail">
          <li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let product of cart.orderDetail">
            <div>
              <h6 class="my-0">Tên sản phẩm</h6>
              <small class="text-muted" >{{product.product.name}}</small>
            </div>
            <span class="text-muted">x {{product.quanity}}</span>
            <span class="text-muted">{{product.total}}000 Đ</span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Tổng tiền (VND)</span>
            <strong>{{cart.total}}.000 Đ</strong>
          </li>
        </ul>
        <!-- Cart -->
        <!-- Promo code -->
        <form class="card p-2 z-depth-1">
          <span class="text-muted"><h4>Phương thức thanh toán: </h4></span>

          <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="defaultChecked" name="defaultExampleRadios" checked mdbInput>
                <label class="custom-control-label" for="defaultChecked">Thanh toán khi nhận hàng</label>
              </div>

              <!-- Default checked -->
              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id=" defaultUnchecked" name="defaultExampleRadios"  mdbInput>
                <label class="custom-control-label" for=" defaultUnchecked">PayPal</label>
              </div>
        </form>
        <!-- Promo code -->

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>
</main>
