<section class="container " [ngClass]="loader ? 'full-page-container': ''" style="margin-top: 100px">


  <!-- Grid row -->
  <div class="row mt-5" >
    <div class="col-lg-3">
      <div class="col-md-6 col-lg-12 mb-5">
        <div class="md-form">
          <input type="text" id="search" class="form-control" mdbInput [(ngModel)]="productName" >
          <label for="search">Search</label>
        </div>
      </div>
      <div class="col-md-6 col-lg-12 mb-5">
        <!-- Panel -->
        <h5 class="font-weight-bold dark-grey-text"><strong>Lọc sản phẩm</strong></h5>
        <div class="divider"></div>
        <p [ngClass]="status == 'all' ? 'blue-text' : 'dark-grey-text'"><a (click)="getProductOrderBy('all')">Tất cả</a></p>
        <p [ngClass]="status == 'hot' ? 'blue-text' : 'dark-grey-text'"><a (click)="getProductOrderBy('hot')">Hot</a></p>
        <p [ngClass]="status == 'new' ? 'blue-text' : 'dark-grey-text'"><a (click)="getProductOrderBy('new')">Mới</a></p>
        <p [ngClass]="status == 'sale' ? 'blue-text' : 'dark-grey-text'"><a (click)="getProductOrderBy('sale')">Giảm giá</a></p>
      </div>
      <!-- Filter by category-->
    </div>
    <div class="col-lg-9" >
      <section>
        <div class="row h-100 justify-content-center align-items-center" *ngIf="loader">
          <div  class="spinner-border text-primary " role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
          <app-products *ngIf="!loader" [products] = "products" [searchProduct] = "productName">

          </app-products>
        <nav aria-label="Page navigation example" *ngIf="!loader && listPage.length>0">
          <ul class="pagination pg-blue">
            <li class="page-item" [ngClass]="pageNumber == 0 ? 'disabled'  : ''" >
              <a class="page-link" tabindex="-1" (click)="getProductByPage(pageNumber-1)"  mdbWavesEffect>Sau</a>
            </li>
            <li class="page-item" (click)="getProductByPage(i)" [ngClass]="pageNumber == i ? 'active': ''"  *ngFor="let i of listPage"><a class="page-link" mdbWavesEffect>{{i}}</a></li>
            <li class="page-item" [ngClass]="pageNumber == totalPage-1 ? 'disabled'  : ''">
              <a (click)="getProductByPage(pageNumber+1)" class="page-link" mdbWavesEffect>Tiếp</a>
            </li>
          </ul>
        </nav>
      </section>

    </div>


  </div>
</section>
