.form-group {
  margin-bottom: 1rem;
  margin-left: 20px;
}
.full-page-container {
  height: calc(100vh - 114px);
}
@media screen and (max-height:885px) {
  .full-page-container {
    margin-top: 100px;
    margin-bottom: 50px;
    height: auto;
  }
}
