<div class="container-fluid full-page-container">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-lg-4 col-sm-8 animated fadeIn">
      <!-- Material form login -->
      <mdb-card class="z-depth-2">
        <p class="mt-2 ml-2"><a routerLink="/login"><mdb-icon fas icon="angle-double-left"></mdb-icon> Quay lại</a></p>
        <div class="white text-center py-4">

          <h5>
            <strong>Xác nhận địa chỉ email</strong>
          </h5>
        </div>


        <!--Card content-->
        <mdb-card-body class="px-lg-5 pt-0">
          <!-- Form -->
          <form  [formGroup]="emailConfirm" class="text-center" style="color: #757575;" (ngSubmit)="sendMess()">

            <!-- Email -->
            <div class="md-form" >
              <input mdbValidate  type="email" id="email" class="form-control"  mdbInput formControlName="emailAddress">
              <label for="email">E-mail</label>
              <mdb-error *ngIf="email.invalid && (email.dirty || email.touched)">Chưa nhập địa chỉ email</mdb-error>
            </div>
            <div class="alert alert-primary" role="alert" *ngIf="error === 200">
              Kiểm tra email của bạn
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="error === 40001 ">
              Email chưa được đăng ký
            </div>
            <div class="spinner-grow text-primary" *ngIf="loader" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <!-- Password -->

            <!-- Sign in button -->
            <button mdbBtn color="primary" block="true" class="my-4 waves-effect z-depth-0 "
                    mdbWavesEffect type="submit" [disabled]="emailConfirm.status !== 'VALID'" *ngIf="error !== 200 && loader == false">Xác nhận</button>
            <button mdbBtn color="success" type="button" block="true" class="my-4 waves-effect z-depth-0 btn-sm" mdbWavesEffect *ngIf="error === 200">
              <a style="color: white" href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox">Kiểm tra</a>
            </button>

            <!-- Register -->


          </form>
          <!-- Form -->

        </mdb-card-body>


      </mdb-card>

      <!-- Material form login -->
    </div>
  </div>
</div>
